@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.paginator {
  display: flex;
  > * {
    flex: 1;
    @include padding(1, 0);
    &:last-child {
      text-align: right;
    }
  }
  > a {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 67%;
      height: 1px;
      background: #e6e6e6;
    }
    &:first-child::before {
      left: 0;
      background: linear-gradient(to right, #e6e6e6 0%, white 100%);
    }
    &:last-child::before {
      right: 0;
      background: linear-gradient(to left, #e6e6e6 0%, white 100%);
    }
  }
}
