.list {
  list-style: none;
  padding: 0;
}

.item {
  display: inline-block;
  margin-right: 8px;
  font-size: 12px;
  > a {
    display: block;
    padding: 2px 6px;
    background: #ebebeb;
    color: #666;
    &:hover {
      background: #ddd;
      color: #333;
    }
  }
}
