@import '#/common/variables.css';

.post {
  margin-bottom: 30px;
  > h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: calc($typographic-base-font-size * 1.6875);
    > a {
      color: $color-base;
      &:hover,
      &:focus {
        color: $color-base;
        border-bottom: 1px solid $color-base;
      }
    }
  }
}

.desc {
  margin-bottom: 20px;
  font-size: $typographic-base-font-size;
}

.meta {
  time {
    margin-right: 8px;
    font-size: $typographic-small-font-size;
    color: $color-subtle;
    text-transform: uppercase;
  }
}
