@import '#/common/variables.css';

.postitem {
  margin-bottom: 20px;
  &-title {
    margin-top: 0;
    font-size: calc($typographic-base-font-size * 1.6875);
    &-link {
      color: $color-base;
      &:hover,
      &:focus {
        color: $color-base;
        border-bottom: 1px solid $color-base;
      }
    }
  }
  &-meta {
    &-time {
      margin-right: 8px;
      font-size: $typographic-small-font-size;
      color: $color-base;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  &-readmore {
    font-size: $typographic-base-font-size;
    color: $color-primary;
    &:hover,
    &:focus {
      color: $color-primary;
      border-bottom: 1px solid $color-primary;
    }
  }
}
