.page-index {
  &-header {
    margin-bottom: 40px;
    text-align: center;
  }
  &-logo {
    display: inline-block;
    img {
      width: 96px;
    }
  }
  h1 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 10px;
    margin-bottom: 0;
  }
  &-buttons {
    margin-top: 24px;
    a {
      display: inline-block;
      margin-top: 8px;
      margin-left: 12px;
      margin-right: 12px;
      padding: 8px 16px;
      border: 1px solid currentColor;
      border-radius: 24px;
      &[target=_blank]:not(:hover) {
        color: gray;
      }
    }
  }
}
