@import '#/common/variables.css';

.toc {
  ul {
    margin: 0;
    padding-left: 14px;
    list-style: none;
    font-size: 14px;
  }
  li {
    margin: 8px 0;
    border-left: 2px solid transparent;
    &:global(.active) {
      border-left: 2px solid $color-primary;
    }
  }
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    &:not(:hover) {
      color: $color-subtle;
    }
    &:global(.active) {
      color: $color-primary;
    }
  }
}

.list {
  border-left: 1px solid #ddd;
}
