@import '#/common/variables.css';

.toc {
  &-list {
    border-left: 1px solid #ddd;
  }
  ul {
    margin: 0;
    padding-left: 14px;
    list-style: none;
    font-size: 14px;
  }
  li {
    margin: 8px 0;
    border-left: 2px solid transparent;
    &.active {
      border-left: 2px solid $color-primary;
    }
  }
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    &:not(:hover) {
      color: $color-subtle;
    }
    &.active {
      color: $color-primary;
    }
  }

  @media screen and (min-width: $layout-breakpoint-lg) {
    position: fixed;
    width: 240px;
    top: 80px;
    right: 8px;
    bottom: 0;
    &-list {
      width: 100%;
      max-height: 100%;
      overflow: auto;
    }
    h2 {
      display: none;
    }
    ul {
      position: sticky;
    }
  }
}
