@import '#/common/variables.css';
@import '#/common/mixins.css';

.content {
  box-sizing: border-box;
  max-width: $layout-post-width;
  margin: 70px auto 0;
  > main {
    min-height: 60vh;
    padding: 20px;
    > h1:first-child {
      margin-top: 0;
      text-align: center;
    }
  }
}

.post {
  a {
    text-decoration: underline;
  }
  &-tag {
    list-style: none;
    padding: 0;
    &-item {
      display: inline-block;
      margin: 10px 5px;
      padding: 0;
      > a {
        background: $color-gray-bg;
        border: 0;
        border-radius: 3px;
        color: color($color-base tint(20%));
        line-height: $typographic-base-line-height;
        padding: 8px 16px;
        &:hover,
        &:focus {
          color: $color-base;
          background: color($color-gray-bg shade(5%));
          border: 0;
        }
      }
    }
  }
}
