@import "#/common/variables.css";

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fefeff;
  z-index: 1;
}

nav {
  align-items: center;
  height: 60px;
  padding: 0 16px;
  box-shadow: 0 0 5px #ccc;
  > a {
    display: block;
    margin: 0 10px;
    padding: 0;
    font-size: 16px;
    color: #666;
  }
}

.link {
  &:hover,
  &:focus,
  &:global(.active) {
    color: $color-base;
    border-bottom: 2px solid $color-primary;
  }
  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.brand {
  font-size: 20px;
  @media (max-width: 512px) {
    display: none;
  }
}

.toggle {
  position: relative;
  margin: 0;
  padding: 6px 0;
  cursor: pointer;
  color: #666;
  display: none;
  @media screen and (max-width: $layout-breakpoint-md) {
    display: block;
  }
  > i {
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: currentColor;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
}
