@import "#/common/variables.css";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fefeff;
  z-index: 1;
}

nav {
  align-items: center;
  height: 60px;
  padding: 0 16px;
  box-shadow: 0 0 5px #ccc;
  > a {
    display: block;
    margin: 0 10px;
    padding: 0;
    font-size: 16px;
    color: #666;
  }
}

.link {
  &:hover,
  &:focus,
  &:global(.active) {
    color: $color-base;
    border-bottom: 2px solid $color-primary;
  }
  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.brand {
  font-size: 20px;
  @media (max-width: 512px) {
    display: none;
  }
}
