$color-base: #222;
$color-primary: #5d93ff;
$color-secondary: #f7a046;
$color-subtle: color($color-base tint(50%));

$color-white: color($color-base tint(100%));
$color-gray-border: color($color-base tint(87%));
$color-gray-bg: color($color-base tint(90%));

$typographic-font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$typographic-base-font-size: 14px;
$typographic-small-font-size: 12px;

$typographic-base-line-height: 1.6;

$typographic-base-font-color: $color-base;

$layout-post-width: 800px;

$layout-breakpoint-sm: 768px;
$layout-breakpoint-md: 992px;
$layout-breakpoint-lg: 1200px;

$toc-width: 240px;
$gap: 16px;
