$color-base: #222;
$color-primary: #5d93ff;
$color-secondary: #f7a046;

$color-white: color($color-base tint(100%));
$color-gray-border: color($color-base tint(87%));
$color-gray-bg: color($color-base tint(90%));

$typographic-font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;

$layout-post-max-width: 945px;
$layout-post-width: calc($layout-post-max-width - 305px);

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
