@import "#/common/variables.css";

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 16px;
  background: white;
  border-bottom: 1px solid #dcdcdc;
  &-logo {
    float: left;
    padding: 8px;
    img {
      height: 48px;
    }
  }
  &-list {
    float: right;
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
    &-item {
      display: inline-block;
      padding: 0;
      margin: 0 10px;
      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: 400;
        border: 0;
        &:hover,
        &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
        }
        &.active {
          color: $color-base;
          border-bottom: 1px solid $color-base;
        }
      }
    }
  }
}
