@import '#/common/variables.css';

main.main {
  // padding | placeholder |   space  |        main        |   space  |     toc    | padding
  //   $gap  |  $toc-width | 2 * $gap | $layout-post-width | 2 * $gap | $toc-width |   $gap
  max-width: calc($layout-post-width + 2 * $toc-width + 6 * $gap);
}

.header {
  margin-bottom: 40px;
}

.date {
  margin-bottom: 24px;
}

@media screen and (min-width: $layout-breakpoint-md) {
  .main > section {
    margin-right: calc($toc-width + 2 * $gap);
  }
  .main > .body {
    display: flex;
    align-items: flex-start;
    margin: 0;
    > article {
      flex: 1;
      width: 0;
      margin-right: calc(2 * $gap);
    }
  }
  .toc {
    flex: 0 0 $toc-width;
    order: 3;
    position: sticky;
    max-height: calc(100vh - 70px);
    top: 60px;
    overflow: auto;
    h2 {
      display: none;
    }
  }
}

@media screen and (min-width: $layout-breakpoint-lg) {
  .main > section {
    margin-left: calc($toc-width + 2 * $gap);
  }
  .main > .body {
    &::before {
      content: '';
      flex: 0 0 $toc-width;
    }
    > article {
      margin-left: calc(2 * $gap);
    }
  }
}
